{% from 'macros/helpers.html' import sprite %}

<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}HTML Arara{% endblock %}</title>

  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet">
  <link rel="stylesheet" href="stylesheets/global.css">
  {% block head %}{% endblock %}
</head>
<body>
  {% include "shared/sidebar.html" %}
  <div id="page-content">
    {% block content %}{% endblock %}
  </div>
  <footer>
    Powered by Zertico ©2016. 
  </footer>
  <script src="javascripts/shared.js"></script>
  {% block javascript %}{% endblock %}
</body>
</html>
